


<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Src url</th>
      <th>Tag1</th>
      <th>Tag2</th>
      <th>Tag3</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <!--<%#binding.pry%>-->
        <td><%= post.title%></td> <!--네이버 블로그 인코드 에러를 막기 위함 !!  .encode!('UTF-8', 'binary', invalid: :replace, undef: :replace, replace: '')-->
        <td><%= post.src_url %></td>
        <td><%= post.tag1 %></td>
        <td><%= post.tag2 %></td>
        <td><%= post.tag3 %></td>
        <td><%= post.desc%></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
<%= link_to 'URL Path', input_url_posts_path %>
